# ---------- .NET ----------
bin/
obj/
publish/
publish_test_out/
publish_test_out2/

*.dll
*.exe
*.pdb
*.runtimeconfig.json
*.deps.json

# Test / coverage
TestResults/
CodeCoverage/

# ---------- Azure ----------
*.zip

# ---------- Android ----------
.gradle/
build/
local.properties
*.iml
.idea/

# ---------- General ----------
*.log

#iv added heading to simplfy what we ignore was trying push tests and stuff just add under headings