# ---------- .NET ----------
bin/
obj/
publish/
publish_test_out/

*.dll
*.exe
*.pdb
*.runtimeconfig.json
*.deps.json

# Test / coverage
TestResults/
CodeCoverage/

# ---------- Azure ----------
*.zip

# ---------- General ----------
*.log